# ─── Django Settings ───
DJANGO_SECRET_KEY=django-insecure-zj%!nwe5_$pw+q0=ngelf(-ce+2t%s55f!iek@#il+)^xddykb
DJANGO_DEBUG=True

# ─── Brevo SMTP Settings ───
# Get your API key from your Brevo Dashboard (SMTP & API -> API keys)
BREVO_API_KEY=your_brevo_api_key_here
BREVO_TEMPLATE_ID=1
BREVO_UPGRADE_TEMPLATE_ID=2
BREVO_EXPIRY_TEMPLATE_ID=3
BREVO_BCC_EMAIL=teamweb@animse.com
